<aside>
	<div class="panel radius">
		<h3>Recent stuff</h3>
		<hr>
		<p>
			 <a href="https://github.com/MTG/DeepConvSep">DeepConvSep</a>, a deep learning repository, is updated with examples of classical music separation (Bach chorales, four instruments) and with a wrapper which queries RWC instruments sound database for samples.
		</p>
		<hr>
		<p>
			 Telefonica internship on catastrophic forgetting, under the supervision on Joan Serra. The paper is submitted to ICML. <a href="http://mariusmiron.com/catastrophic-forgetting">(more)</a>.
		</p>
		<hr>
		<p> Companion page of the PhD thesis is <a href="http://mariusmiron.com/research/thesis">online</a>:<br>
			<i>M. Miron, "Source Separation Methods for Orchestral Music. Timbre-informed and score-informed strategies."</i>
		</p>
	</div>

<!--   <img class="b30" src="http://dummyimage.com/303x16:9/df4949/e27b3f.png&amp;text=Ugly+Ad+Space" alt="">


	<div class="border-dotted radius b30">
		<img src="http://placekitten.com/271/270" alt="uh, Placekitten">
		<p class="text-left">
			This is an advertisment with a crazy cat! <a href="http://placekitten.com/">More cats, please!</a>
		</p>
	</div> -->
</aside>
