<aside>
	<div class="panel radius">
		<h3>Recent stuff</h3>
		<hr>
		<p> We published the pre-print for <a href="https://nkudiushuti.github.io/research/biodenoising">biodenoising</a> a method for animal vocalization denoising :<br>
			<i> Marius Miron, Sara Keen, Jen-Yu Liu, Benjamin Hoffman, Masato Hagiwara, Olivier Pietquin, Felix Effenberger, Maddie Cusimano, "Biodenoising: animal vocalization denoising without access to clean data"</i>
		</p>
	</div>

<!--   <img class="b30" src="https://dummyimage.com/303x16:9/df4949/e27b3f.png&amp;text=Ugly+Ad+Space" alt="">


	<div class="border-dotted radius b30">
		<img src="https://placekitten.com/271/270" alt="uh, Placekitten">
		<p class="text-left">
			This is an advertisment with a crazy cat! <a href="https://placekitten.com/">More cats, please!</a>
		</p>
	</div> -->
</aside>
